.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.carousel-track {
  display: flex;
  white-space: nowrap;
  gap: 20px;
  position: relative;
  margin: auto;
}

.carousel-slide {
  width: 350px; 
  height: 250px; 
  background-color: #616261; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}

.carousel-slide:hover {
  width: 360px;
  height: 260px;
  transition: 1s;
  cursor: pointer;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir todo o espaço sem sobras */
  border-radius: 10px;
}
