/*.Chat{
   width: 100%;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.Org{
  width: 1200px;
   height: 100%;
   border-radius: 20px;
  background: rgba(94, 23, 235, 1);
}*/